<!DOCTYPE html>
<html>
<head>
    <title>broooo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
     <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}?v=1">
</head>
<body>
<img src="{{ url_for('static', filename='eva-title.png') }}" alt="hehe" align="center" width="900" height="600">
    <div class="container">
        <h5>(sorry im a bit late i had no clue how to make this....)</h5>
<p> so this is a simple webpage crawler which i wanted to make for the longest time. cool no?</p>
<p><font color="pink"> *insert emotional message here (I WILL WRITE THIS I PROMISE)* </font></p>
        <div class="stats">
            <h1>neocities <font color="pink"><a href="https://rhaisyl.neocities.org/">:heart:</a></font></h1><br>
            <div class="card">
                <h2>views</h2>
                <p>{{ stats['views'] }}</p>
            </div>

            <div class="card">
                <h2>followers</h2>
                <p>{{ stats['followers'] }}</p>
            </div>

            <div class="card">
                <h2>updates</h2>
                <p>{{ stats['updates'] }}</p>
            </div>

        </div>
        <div class="movie-grid">
<h1>movies you've watched <font color="pink"><a hfref="https://letterboxd.com/rhaisyl/films/">:heart:</a></font></h1><br>
    <div class="movie-card">
        <ol type="1">{% for movie in movies %}
        <li>{{ movie }}</li>
        {% endfor %}</ol>
    </div>
</div>
    </div>
</body>
</html>
